hr {
    border: 1px lightgray solid;
    width: 320px;
 }



 .container-border {
    
    background-color: lightblue;
 }


.heading {
    display: block;

}

.day-forecast {
    display: inline-block;
    width: 180px;
    height: 200px;
    background-color: blue;
    margin: 15px;
   
  
}

.card-body{
    height: 305px;
    background-color: white;
    border: 3px black solid;
    
}

#today{
    border: 3px black solid;
    background-color: white;
}
.card-header{
    color: white;
}
#forcast{
    height: 300px;
}